In [18]:
import pandas as pd

GDP and income

In [19]:
gdp_sr = pd.read_csv('../../data/curated/gdp_with_saving_rate.csv')

In [22]:
year = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

for i in year:
    if i not in [2021, 2022]:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

        gdp = list(gdp_sr.loc[gdp_sr['year'] == i, 'gdp(USD Millioins)'])[0]
        sr = list(gdp_sr.loc[gdp_sr['year'] == i, 'saving_rate(% of GDP)'])[0]
        
        data[list(gdp_sr.columns)[2]] = gdp
        data[list(gdp_sr.columns)[3]] = sr

    else:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

        gdp = None
        sr = None
        
        data[list(gdp_sr.columns)[2]] = gdp
        data[list(gdp_sr.columns)[3]] = sr

    data.to_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

In [ ]:
gdp_sr = pd.read_csv('../../data/curated/gdp_with_saving_rate.csv')
gdp_sr

    Unnamed: 0  year  gdp(USD Millioins)  saving_rate(% of GDP)
0            0  1970               36910              13.965180
1            1  1971               40379              13.867941
2            2  1972               44556              14.922438
3            3  1973               49831              15.803160
4            4  1974               60374              12.301303
5            5  1975               71277              10.800341
6            6  1976               83377               9.912091
7            7  1977               96236               7.450473
8            8  1978              105094               9.405753
9            9  1979              118789              10.342062
10          10  1980              134654              10.282790
11          11  1981              152410               8.796762
12          12  1982              175917               5.169911
13          13  1983              189481               7.637791
14          14  1984              213766               8.559389
15          15  1985              235414               6.457267
16          16  1986              260714               5.345850
17          17  1987              286222               7.962422
18          18  1988              324449               9.031767
19          19  1989              368145               7.687440
20          20  1990              404569               3.734530
21          21  1991              415233               0.993805
22          22  1992              423222               2.846125
23          23  1993              444218               4.346810
24          24  1994              466618               3.604576
25          25  1995              495509               4.336632
26          26  1996              528636               5.733141
27          27  1997              556257               5.296158
28          28  1998              588842               4.162345
29          29  1999              620924               4.841157
30          30  2000              661722               3.908633
31          31  2001              706385               5.170472
32          32  2002              755579               4.611407
33          33  2003              802510               5.413050
34          34  2004              863395               4.605181
35          35  2005              924589               5.285867
36          36  2006              998436               4.986287
37          37  2007             1087683               5.671076
38          38  2008             1178577               7.644383
39          39  2009             1260468               5.234108
40          40  2010             1302858               7.265403
41          41  2011             1417898               8.508645
42          42  2012             1499804               7.571069
43          43  2013             1536454               6.861393
44          44  2014             1598553               4.911388
45          45  2015             1623207               2.497491
46          46  2016             1657744               4.164464
47          47  2017             1759314               4.183031
48          48  2018             1842946               5.238132
49          49  2019             1946228               6.425977
50          50  2020             1980866               8.466190

In [ ]:
data13 = pd.read_csv('../../data/curated/featured/2013_distance_rental_place.csv')
data13

,address,latitude_ori,longitude_ori,nbed,nbath,ncar,weekly_rent,type,postcode,year,...,longitude_des,place_type,dist_to_place_M,dist_to_place_KM,time_to_place_S,time_to_place_MIN,dist_to_cbd_M,dist_to_cbd_KM,time_to_cbd_S,time_to_cbd_MIN
0,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,144.20126,park,6957.01,6.95701,554.61,9.243500,116491.22,116.49122,5267.17,87.786167
1,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,144.21379,station,5322.71,5.32271,440.33,7.338833,116491.22,116.49122,5267.17,87.786167
2,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,144.25848,station,1115.08,1.11508,98.80,1.646667,116491.22,116.49122,5267.17,87.786167
3,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,144.20749,primary,6054.93,6.05493,603.94,10.065667,116491.22,116.49122,5267.17,87.786167
4,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,144.21899,primary,5756.05,5.75605,408.44,6.807333,116491.22,116.49122,5267.17,87.786167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153900,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,146.04624,park,7513.60,7.51360,622.78,10.379667,272600.13,272.60013,11275.49,187.924833
153901,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,145.99863,station,1005.77,1.00577,146.48,2.441333,272600.13,272.60013,11275.49,187.924833
153902,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,146.00264,primary,2354.67,2.35467,255.02,4.250333,272600.13,272.60013,11275.49,187.924833
153903,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,146.00681,secondary,2047.87,2.04787,220.20,3.670000,272600.13,272.60013,11275.49,187.924833
153904,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,146.00681,secondary,2047.87,2.04787,220.20,3.670000,272600.13,272.60013,11275.49,187.924833

In [ ]:
list(gdp_sr.columns)[2]

Index(['Unnamed: 0', 'year', 'gdp(USD Millioins)', 'saving_rate(% of GDP)'], dtype='object')

In [ ]:
list(gdp_sr.loc[gdp_sr['year'] == 2013, 'gdp(USD Millioins)'])[0]

1536454

In [ ]:
data13[list(gdp_sr.columns)[2]] = list(gdp_sr.loc[gdp_sr['year'] == 2013, 'gdp(USD Millioins)'])[0]
data13

,address,latitude_ori,longitude_ori,nbed,nbath,ncar,weekly_rent,type,postcode,year,...,place_type,dist_to_place_M,dist_to_place_KM,time_to_place_S,time_to_place_MIN,dist_to_cbd_M,dist_to_cbd_KM,time_to_cbd_S,time_to_cbd_MIN,gdp(USD Millioins)
0,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,park,6957.01,6.95701,554.61,9.243500,116491.22,116.49122,5267.17,87.786167,1536454
1,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,station,5322.71,5.32271,440.33,7.338833,116491.22,116.49122,5267.17,87.786167,1536454
2,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,station,1115.08,1.11508,98.80,1.646667,116491.22,116.49122,5267.17,87.786167,1536454
3,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,primary,6054.93,6.05493,603.94,10.065667,116491.22,116.49122,5267.17,87.786167,1536454
4,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,House,3451,2013,...,primary,5756.05,5.75605,408.44,6.807333,116491.22,116.49122,5267.17,87.786167,1536454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153900,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,park,7513.60,7.51360,622.78,10.379667,272600.13,272.60013,11275.49,187.924833,1536454
153901,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,station,1005.77,1.00577,146.48,2.441333,272600.13,272.60013,11275.49,187.924833,1536454
153902,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,primary,2354.67,2.35467,255.02,4.250333,272600.13,272.60013,11275.49,187.924833,1536454
153903,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,secondary,2047.87,2.04787,220.20,3.670000,272600.13,272.60013,11275.49,187.924833,1536454
153904,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,Townhouse,3730,2013,...,secondary,2047.87,2.04787,220.20,3.670000,272600.13,272.60013,11275.49,187.924833,1536454