In [1]:
import pandas as pd

Population_sa2 preprocess

In [2]:
xls = pd.ExcelFile('../../data/raw/external_dataset/population_sa2.csv')
sheets = xls.sheet_names
sheets

['Contents',
 'Table 1',
 'Table 2',
 'Table 3',
 'Table 4',
 'Table 5',
 'Explanatory notes']

In [3]:
population_sa2 = pd.read_excel('../../data/raw/external_dataset/population_sa2.csv', sheet_name=['Table 1'], header =  None)['Table 1'].drop(range(6))
year = population_sa2.iloc[0].dropna()
header = population_sa2.iloc[1]
header.iloc[10:].update(year)
population_sa2 = population_sa2[3:]
population_sa2.columns = header 
population_sa2 = population_sa2.drop(columns=['2011-2021', 'Area', '%'])
population_sa2

7,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,2015,2016,2017,2018,2019,2020,2021,NaN,NaN,Population density 2021
9,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021007,Braidwood,...,3849,3950,4039,4140,4211,4273,4330,NaN,NaN,1.3
10,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021008,Karabar,...,8603,8531,8526,8507,8488,8519,8546,NaN,NaN,1223.9
11,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021009,Queanbeyan,...,11213,11230,11355,11447,11450,11437,11370,NaN,NaN,2387.7
12,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021010,Queanbeyan - East,...,4961,4970,5013,5072,5117,5077,5093,NaN,NaN,391.7
13,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021012,Queanbeyan West - Jerrabomberra,...,13164,13150,13083,13008,12935,12796,12743,NaN,NaN,931.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2467,"Source: Regional population, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2469,© Commonwealth of Australia 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
vic_population_sa2 = population_sa2[population_sa2['S/T name'] == 'Victoria']
vic_population_sa2 = vic_population_sa2.dropna(axis='columns')
vic_population_sa2 = vic_population_sa2.drop(columns = ['SA4 code', 'SA4 name', 'SA3 code', 'SA3 name', 'S/T code', 'GCCSA code', 'GCCSA name'])
vic_population_sa2

7,S/T name,SA2 code,SA2 name,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Population density 2021
651,Victoria,201011001,Alfredton,5756,6092,6293,6480,6648,6761,7034,...,9714,10338,11039,11852,12639,13520,14408,15472,16823,319.2
652,Victoria,201011002,Ballarat,11497,11708,12015,12189,12269,12356,12408,...,12352,12327,12300,12301,12261,12237,12311,12183,12076,975.5
653,Victoria,201011005,Buninyong,5320,5399,5557,5620,5857,6037,6131,...,6984,7082,7191,7311,7407,7413,7452,7369,7232,140.2
654,Victoria,201011006,Delacombe,4154,4225,4371,4465,4704,5041,5206,...,6267,6583,6846,7195,7617,8174,8876,9736,10640,311.5
655,Victoria,201011007,Smythes Creek,3317,3378,3411,3473,3508,3542,3594,...,3914,3945,3966,3990,4002,4040,4109,4148,4213,40.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,Victoria,217031476,Otway,3452,3479,3511,3511,3492,3459,3489,...,3497,3519,3538,3556,3633,3707,3797,3905,3978,2.6
1169,Victoria,217041477,Moyne - East,6718,6704,6676,6643,6638,6652,6606,...,6749,6734,6716,6709,6714,6741,6790,6873,6989,2.1
1170,Victoria,217041478,Moyne - West,8317,8387,8450,8487,8517,8601,8694,...,9300,9383,9467,9603,9681,9773,9833,9842,9963,4.9
1171,Victoria,217041479,Warrnambool - North,17053,17449,17726,17937,18172,18528,18877,...,20612,20930,21217,21442,21676,21934,22157,22379,22462,359.9
1172,Victoria,217041480,Warrnambool - South,12506,12578,12639,12697,12748,12792,12839,...,13157,13154,13150,13173,13192,13214,13247,13323,13292,110.6

In [5]:
vic_population_sa2.to_csv('../../data/curated/vic_population_sa2.csv')

income_sa2

In [6]:
xls = pd.ExcelFile('../../data/raw/external_dataset/income_2015_2019.csv')
sheets = xls.sheet_names
sheets

['Contents', 'Table 1.1', 'Table 1.2', 'Table 1.3', 'Table 1.4', 'Table 1.5']

In [33]:
def vic_income(file):
    income = pd.read_excel(f'../../data/raw/external_dataset/{file}.csv', sheet_name=['Table 1.4'], header =  None)['Table 1.4'].drop(range(6))
    income = income.iloc[:, :7]
    header = income.iloc[0]
    income = income[1:]
    income.columns = header
    i = income.index[income['SA2'] == 'Victoria'].tolist()[0]
    j = income.index[income['SA2'] == 'Queensland'].tolist()[0]
    income = income.iloc[i-6:j-7, :]
    return income

In [52]:
income1519 = vic_income('income_2015_2019')
income1218 = vic_income('income_2012_2018')
income_sa2 = pd.merge(income1218, income1519[['SA2', '2016-17', '2017-18', '2018-19']], left_on='SA2', right_on='SA2')
income_sa2

6,SA2,SA2 NAME,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,201011001,Alfredton,5098,5372,5760,6225,6718,7124,7558,7989
1,201011002,Ballarat,7139,7158,7151,7289,7400,7470,7585,7595
2,201011003,Ballarat - North,12073,12063,12261,12503,12516,12889,13356,13598
3,201011004,Ballarat - South,11096,11168,11372,11347,11529,11905,12294,12722
4,201011005,Buninyong,3828,3878,3897,3966,4001,4118,4195,4249
...,...,...,...,...,...,...,...,...,...,...
457,217031476,Otway,2110,2177,2176,2225,2212,2315,2297,2360
458,217041477,Moyne - East,3871,3790,3858,3890,3833,3879,3954,4081
459,217041478,Moyne - West,5401,5429,5435,5650,5602,5759,5765,5852
460,217041479,Warrnambool - North,11528,11577,11780,12185,12346,12694,12950,13157
461,217041480,Warrnambool - South,7121,7041,7124,7431,7583,7614,7734,8052

In [53]:
income_sa2.to_csv('../../data/curated/income_sa2.csv')

In [48]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 3.3 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [13]:
income0611 = pd.read_excel('../../data/raw/external_dataset/income_2006_2011.csv', sheet_name=['Table_2'], header =  None)['Table_2'].drop(range(6))
income0611

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
6,S/T,GCCSA,SA4,SA3,SA2,S/T NAME,GCCSA NAME,SA4 NAME,SA3 NAME,SA2 NAME,...,2007-08,2008-09,2009-10,2010-11,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11
7,2,NaN,NaN,NaN,NaN,Victoria,NaN,NaN,NaN,NaN,...,135841729089,137849281607,143507353028,157583796448,41148,43342,44117,46341,47623,51398
8,NaN,2GMEL,NaN,NaN,NaN,NaN,Greater Melbourne,NaN,NaN,NaN,...,107703933729,109512137908,114270073361,125512093689,43570,46060,46508,49025,50413,54104
9,NaN,NaN,206,NaN,NaN,NaN,NaN,Melbourne - Inner,NaN,NaN,...,18491491075,18668920784,19343589584,21790133298,53975,57908,57841,61364,63086,68216
10,NaN,NaN,NaN,20601,NaN,NaN,NaN,NaN,Brunswick - Coburg,NaN,...,2015112117,2059931958,2138002427,2361499774,39395,41459,43017,45910,47194,50625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,(c) There is a break in the Superannuation and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,(d) There is a break in the Other income serie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,(e) Separate state/territory 'unknown' data is...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,© Commonwealth of Australia 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN