In [79]:
import pandas as pd

GDP and income

In [80]:
gdp_sr = pd.read_csv('../../data/curated/gdp_with_saving_rate.csv')

In [81]:
year = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

for i in year:
    if i not in [2021, 2022]:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

        gdp = list(gdp_sr.loc[gdp_sr['year'] == i, 'gdp(USD Millioins)'])[0]
        sr = list(gdp_sr.loc[gdp_sr['year'] == i, 'saving_rate(% of GDP)'])[0]
        
        data[list(gdp_sr.columns)[2]] = gdp
        data[list(gdp_sr.columns)[3]] = sr

    else:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

        gdp = None
        sr = None
        
        data[list(gdp_sr.columns)[2]] = gdp
        data[list(gdp_sr.columns)[3]] = sr

    data.to_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

income

In [82]:
income = pd.read_csv('../../data/curated/income_per_person_sa2.csv')
income = income.rename(columns={'SA2': 'SA2_CODE'})
income

,Unnamed: 0,SA2_CODE,SA2 NAME,2012,2013,2014,2015,2016,2017,2018,2019
0,0,201011001,Alfredton,51670.073951,52993.212211,54624.783507,56373.600964,57746.696785,60026.081134,62315.127415,63668.274127
1,1,201011002,Ballarat,61177.132231,63669.220872,65506.668018,67216.710660,72754.453378,71895.145248,74671.366381,77875.693878
2,2,201011003,Ballarat - North,48946.980038,50871.715079,52023.790882,53016.994081,54660.327661,56067.366669,59786.487796,60366.697603
3,3,201011004,Ballarat - South,41918.131939,43625.173890,44721.796782,45473.451837,46143.213201,47676.111970,49041.036441,50778.316302
4,4,201011005,Buninyong,53538.216040,55674.656008,56765.499102,58010.968734,58292.425144,60008.747450,61564.815018,63257.766533
...,...,...,...,...,...,...,...,...,...,...,...
451,457,217031476,Otway,39330.688626,36935.722554,39768.884651,40639.888539,42425.576401,44235.906695,44755.438398,46448.133475
452,458,217041477,Moyne - East,43776.493154,37883.223483,46721.779160,48626.519794,47031.049570,49103.852024,50652.260496,55572.647880
453,459,217041478,Moyne - West,43419.626551,42510.701418,46052.713707,48279.664071,50306.901464,51459.022573,52080.290026,55546.749316
454,460,217041479,Warrnambool - North,45988.991412,46933.500648,48440.255857,50513.442675,50938.952292,52089.753663,59811.605637,56098.576195
455,461,217041480,Warrnambool - South,47793.555119,48726.315864,50544.447501,50662.927601,50965.406699,53225.930523,54848.550168,58246.530179

In [83]:
year = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

for i in year:
    if i not in [2020, 2021, 2022]:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

        income_per_person = income.loc[:, ['SA2_CODE', str(i)]]

        data['income_per_person'] = (data.merge(income_per_person, on=['SA2_CODE'], how='left')[str(i)])

    else:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')
        
        data['income_per_person'] = None

    data.to_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

population

In [84]:
population = pd.read_csv('../../data/curated/vic_population_sa2.csv')
population = population.rename(columns={'SA2 code': 'SA2_CODE'})
population

,Unnamed: 0,S/T name,SA2_CODE,SA2 name,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,651,Victoria,201011001,Alfredton,5756,6092,6293,6480,6648,6761,...,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823
1,652,Victoria,201011002,Ballarat,11497,11708,12015,12189,12269,12356,...,12357,12352,12327,12300,12301,12261,12237,12311,12183,12076
2,653,Victoria,201011005,Buninyong,5320,5399,5557,5620,5857,6037,...,6854,6984,7082,7191,7311,7407,7413,7452,7369,7232
3,654,Victoria,201011006,Delacombe,4154,4225,4371,4465,4704,5041,...,6020,6267,6583,6846,7195,7617,8174,8876,9736,10640
4,655,Victoria,201011007,Smythes Creek,3317,3378,3411,3473,3508,3542,...,3872,3914,3945,3966,3990,4002,4040,4109,4148,4213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,1168,Victoria,217031476,Otway,3452,3479,3511,3511,3492,3459,...,3456,3497,3519,3538,3556,3633,3707,3797,3905,3978
518,1169,Victoria,217041477,Moyne - East,6718,6704,6676,6643,6638,6652,...,6764,6749,6734,6716,6709,6714,6741,6790,6873,6989
519,1170,Victoria,217041478,Moyne - West,8317,8387,8450,8487,8517,8601,...,9167,9300,9383,9467,9603,9681,9773,9833,9842,9963
520,1171,Victoria,217041479,Warrnambool - North,17053,17449,17726,17937,18172,18528,...,20253,20612,20930,21217,21442,21676,21934,22157,22379,22462
521,1172,Victoria,217041480,Warrnambool - South,12506,12578,12639,12697,12748,12792,...,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292

In [85]:
year = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

for i in year:
    if i != 2022:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

        population_data = population.loc[:, ['SA2_CODE', str(i)]]

        data['population'] = (data.merge(population_data, on=['SA2_CODE'], how='left')[str(i)])

    else:
        data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')
        
        data['population'] = None

    data.to_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

crime cases

In [86]:
crime_cases = pd.read_csv('../../data/curated/crime_cases.csv')
crime_cases = crime_cases.rename(columns={'Postcode': 'postcode'})
crime_cases

      Unnamed: 0  Year  postcode  Offence Count
0              0  2013      3000          17553
1              1  2013      3002            933
2              2  2013      3003            837
3              3  2013      3004           5305
4              4  2013      3006           2433
...          ...   ...       ...            ...
6889        6889  2022      3990              2
6890        6890  2022      3991             75
6891        6891  2022      3992             94
6892        6892  2022      3995           1179
6893        6893  2022      3996            254

[6894 rows x 4 columns]

In [87]:
cc = crime_cases.loc[crime_cases['Year'] == 2013][['postcode', 'Offence Count']]

In [88]:
data = pd.read_csv(f'../../data/curated/featured/2013_distance_rental_place.csv')
#data.merge(income_per_person, on=['SA2_CODE'], how='left')['2013']
data['crime_cases'] = (data.merge(cc, on=['postcode'], how='left')['Offence Count'])
data

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,address,latitude_ori,longitude_ori,nbed,nbath,ncar,weekly_rent,...,time_to_place_MIN,dist_to_cbd_M,dist_to_cbd_KM,time_to_cbd_S,time_to_cbd_MIN,gdp(USD Millioins),saving_rate(% of GDP),income_per_person,population,crime_cases
0,0,0,0,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,...,9.243500,116491.22,116.49122,5267.17,87.786167,1536454,6.861393,43742.708243,10134,121.0
1,1,1,1,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,...,7.338833,116491.22,116.49122,5267.17,87.786167,1536454,6.861393,43742.708243,10134,121.0
2,2,2,2,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,...,1.646667,116491.22,116.49122,5267.17,87.786167,1536454,6.861393,43742.708243,10134,121.0
3,3,3,3,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,...,10.065667,116491.22,116.49122,5267.17,87.786167,1536454,6.861393,43742.708243,10134,121.0
4,4,4,4,"208 MAIN ROAD, CHEWTON",-37.080111,144.261809,3.0,1.0,2,300,...,6.807333,116491.22,116.49122,5267.17,87.786167,1536454,6.861393,43742.708243,10134,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153900,153900,153900,153900,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,...,10.379667,272600.13,272.60013,11275.49,187.924833,1536454,6.861393,43620.826913,7517,388.0
153901,153901,153901,153901,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,...,2.441333,272600.13,272.60013,11275.49,187.924833,1536454,6.861393,43620.826913,7517,388.0
153902,153902,153902,153902,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,...,4.250333,272600.13,272.60013,11275.49,187.924833,1536454,6.861393,43620.826913,7517,388.0
153903,153903,153903,153903,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,...,3.670000,272600.13,272.60013,11275.49,187.924833,1536454,6.861393,43620.826913,7517,388.0
153904,153904,153904,153904,"4/128 MURRAY VALLEY HIGHWAY, YARRAWONGA",-36.020754,145.991281,2.0,2.0,1,200,...,3.670000,272600.13,272.60013,11275.49,187.924833,1536454,6.861393,43620.826913,7517,388.0

In [89]:
year = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

for i in year:
    data = pd.read_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')

    crime_cases_data = crime_cases.loc[crime_cases['Year'] == i][['postcode', 'Offence Count']]

    data['crime_cases'] = (data.merge(crime_cases_data, on=['postcode'], how='left')['Offence Count'])

    data.to_csv(f'../../data/curated/featured/{i}_distance_rental_place.csv')