In [9]:
import pandas as pd
import geopandas as gpd
import folium

SA2 shape file: https://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/1270.0.55.001July%202016?OpenDocument

In [11]:
property = pd.read_csv("../../data/curated/API_clean_price_with_SA2.csv")
boundary = gpd.read_file("../../data/raw/Geo/sa2_2016_aust_shape/SA2_2016_AUST.shp")

In [12]:
boundary = boundary[boundary.STE_NAME16 == 'Victoria']
boundary.SA2_NAME16 = boundary.SA2_NAME16.str.upper()
geo = boundary[['SA2_NAME16', 'geometry']]
geo.head()

           SA2_NAME16                                           geometry
578         ALFREDTON  POLYGON ((143.70477 -37.51935, 143.70482 -37.5...
579          BALLARAT  POLYGON ((143.81896 -37.55583, 143.81644 -37.5...
580  BALLARAT - NORTH  POLYGON ((143.85013 -37.54247, 143.85011 -37.5...
581  BALLARAT - SOUTH  POLYGON ((143.82821 -37.57559, 143.82840 -37.5...
582         BUNINYONG  POLYGON ((143.84170 -37.61597, 143.84175 -37.6...

In [13]:
property.head()

,Unnamed: 0,id,time,listing_type,price,property_type,area,building_area,land_area,bedrooms,...,longitude,weekly_rent,SA2_MAINCODE_2016,SA2_5DIGITCODE_2016,SA2_NAME_2016,STATE_CODE_2016,SINGLE_NAME,VIC_NAME,MULTIPLE_NAME,VALID_NAME
0,0,16066003,2022-08-31T13:00:15,Rent,$320,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,1.0,...,144.966492,320,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True
1,1,16065974,2022-08-31T12:50:55,Rent,$700,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,2.0,...,144.952286,700,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True
2,2,15302782,2022-08-31T10:12:30,Rent,$395_per_week,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,2.0,...,144.959274,395,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True
3,3,16064379,2022-08-30T15:20:28,Rent,$370_per_week,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,1.0,...,144.956482,370,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True
4,4,16064243,2022-08-30T14:50:32,Rent,$500_per_week,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,2.0,...,144.953247,500,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True

In [14]:
gdf = property.merge(geo, how='left', left_on='SA2_NAME_2016', right_on = 'SA2_NAME16')
gdf.head()

,Unnamed: 0,id,time,listing_type,price,property_type,area,building_area,land_area,bedrooms,...,SA2_MAINCODE_2016,SA2_5DIGITCODE_2016,SA2_NAME_2016,STATE_CODE_2016,SINGLE_NAME,VIC_NAME,MULTIPLE_NAME,VALID_NAME,SA2_NAME16,geometry
0,0,16066003,2022-08-31T13:00:15,Rent,$320,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,1.0,...,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8..."
1,1,16065974,2022-08-31T12:50:55,Rent,$700,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,2.0,...,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8..."
2,2,15302782,2022-08-31T10:12:30,Rent,$395_per_week,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,2.0,...,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8..."
3,3,16064379,2022-08-30T15:20:28,Rent,$370_per_week,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,1.0,...,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8..."
4,4,16064243,2022-08-30T14:50:32,Rent,$500_per_week,ApartmentUnitFlat,Melbourne City Council - Greater Area,0.0,0.0,2.0,...,206041122.0,21122.0,MELBOURNE,2.0,True,False,False,True,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8..."

In [15]:
gdf.columns

Index(['Unnamed: 0', 'id', 'time', 'listing_type', 'price', 'property_type',
       'area', 'building_area', 'land_area', 'bedrooms', 'bathrooms',
       'carspaces', 'street_address', 'suburb', 'postcode', 'latitude',
       'longitude', 'weekly_rent', 'SA2_MAINCODE_2016', 'SA2_5DIGITCODE_2016',
       'SA2_NAME_2016', 'STATE_CODE_2016', 'SINGLE_NAME', 'VIC_NAME',
       'MULTIPLE_NAME', 'VALID_NAME', 'SA2_NAME16', 'geometry'],
      dtype='object')

In [16]:
COLS = ['weekly_rent', 'SA2_NAME16', 'geometry','property_type','postcode','bedrooms']
gsdf_pd = gdf[COLS]
gsdf_pd.head()

,weekly_rent,SA2_NAME16,geometry,property_type,postcode,bedrooms
0,320,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8...",ApartmentUnitFlat,3000,1.0
1,700,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8...",ApartmentUnitFlat,3000,2.0
2,395,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8...",ApartmentUnitFlat,3000,2.0
3,370,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8...",ApartmentUnitFlat,3000,1.0
4,500,MELBOURNE,"POLYGON ((144.96489 -37.80687, 144.96511 -37.8...",ApartmentUnitFlat,3000,2.0

In [17]:
geoboundary = boundary[['SA2_NAME16', 'geometry']].dropna()
geoboundary = geoboundary.drop_duplicates('SA2_NAME16')

In [18]:
geoJSON = geoboundary.to_json()

In [19]:
weekly_rent = gsdf_pd[['SA2_NAME16', 'weekly_rent','bedrooms']] \
                .groupby(['SA2_NAME16'],as_index = False) \
                .agg(
                    {\
                        'weekly_rent': 'mean', # count number of instances from sample
                        'bedrooms': 'count'
                    }
                ) \
                .rename({'bedrooms': 'total_number_sa2','weekly_rent': 'mean_weekly_rent_sa2' }, axis=1)

weekly_rent.head()

     SA2_NAME16  mean_weekly_rent_sa2  total_number_sa2
0    ABBOTSFORD            558.586957                46
1  AIRPORT WEST            438.260870                23
2   ALBERT PARK            797.894737                19
3     ALEXANDRA            350.000000                 1
4     ALFREDTON            426.071429                28

In [ ]:
import folium
m = folium.Map(location=[-37.81, 144.96], tiles="Stamen Terrain", zoom_start=10, color='white')
svg_style = '<style>svg {background-color: rgb(255, 255, 255,0.5);}</style>'
m.get_root().header.add_child(folium.Element(svg_style))

c = folium.Choropleth(
    geo_data=geoJSON,
    name='choropleth',
    data=weekly_rent.reset_index(), 
    columns=['SA2_NAME16','mean_weekly_rent_sa2'],
    key_on='properties.SA2_NAME16', 
    fill_color='PiYG', 
    nan_fill_color='black',
    legend_name='mean weekly rent per sa2',
)

c.add_to(m)
#m.save('../plots/weekly_rent.html')

m

In [50]:
m.save('../../plots/vic_weekly_rent.html')

In [ ]:
m = folium.Map(location=[-37.81, 144.96], tiles="Stamen Terrain", zoom_start=10, color='white')
svg_style = '<style>svg {background-color: rgb(255, 255, 255,0.5);}</style>'
m.get_root().header.add_child(folium.Element(svg_style))

c = folium.Choropleth(
    geo_data=geoJSON,
    name='choropleth',
    data=weekly_rent.reset_index(), 
    columns=['SA2_NAME16','total_number_sa2'],
    key_on='properties.SA2_NAME16', 
    fill_color='PiYG', 
    nan_fill_color='black',
    legend_name='number of houses rented per sa2 in total',
)

c.add_to(m)
#m.save('../plots/weekly_rent.html')

m

In [ ]:
m.save('../../plots/vic_num_property.html')