In [26]:
import pandas as pd

In [27]:
gdp = pd.read_csv('../../data/curated/gdp.csv', index_col=0)
gdp = gdp.reset_index()
gdp.rename({'GDP_current_prices_Millions)': 'gdp(USD Millioins)'}, axis=1, inplace=True)
gdp

    index  gdp(USD Millioins)  year
0      10               16614  1960
1      11               17575  1961
2      12               17789  1962
3      13               19233  1963
4      14               21252  1964
..    ...                 ...   ...
57     67             1759314  2017
58     68             1842946  2018
59     69             1946228  2019
60     70             1980866  2020
61     71             2067010  2021

[62 rows x 3 columns]

In [28]:
saving_rate = pd.read_csv('../../data/raw/external_dataset/DP_LIVE_12092022072122298.csv')
saving_rate = saving_rate.loc[saving_rate['LOCATION']=='AUS']
saving_rate.rename({'Value': 'saving_rate(% of GDP)'}, axis=1, inplace=True)
saving_rate

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,saving_rate(% of GDP),Flag Codes
1222,AUS,SAVING,TOT,PC_GDP,A,1970,13.965180,NaN
1223,AUS,SAVING,TOT,PC_GDP,A,1971,13.867941,NaN
1224,AUS,SAVING,TOT,PC_GDP,A,1972,14.922438,NaN
1225,AUS,SAVING,TOT,PC_GDP,A,1973,15.803160,NaN
1226,AUS,SAVING,TOT,PC_GDP,A,1974,12.301303,NaN
1227,AUS,SAVING,TOT,PC_GDP,A,1975,10.800341,NaN
1228,AUS,SAVING,TOT,PC_GDP,A,1976,9.912091,NaN
1229,AUS,SAVING,TOT,PC_GDP,A,1977,7.450473,NaN
1230,AUS,SAVING,TOT,PC_GDP,A,1978,9.405753,NaN
1231,AUS,SAVING,TOT,PC_GDP,A,1979,10.342062,NaN
1232,AUS,SAVING,TOT,PC_GDP,A,1980,10.282790,NaN
1233,AUS,SAVING,TOT,PC_GDP,A,1981,8.796762,NaN
1234,AUS,SAVING,TOT,PC_GDP,A,1982,5.169911,NaN
1235,AUS,SAVING,TOT,PC_GDP,A,1983,7.637791,NaN
1236,AUS,SAVING,TOT,PC_GDP,A,1984,8.559389,NaN
1237,AUS,SAVING,TOT,PC_GDP,A,1985,6.457267,NaN
1238,AUS,SAVING,TOT,PC_GDP,A,1986,5.345850,NaN
1239,AUS,SAVING,TOT,PC_GDP,A,1987,7.962422,NaN
1240,AUS,SAVING,TOT,PC_GDP,A,1988,9.031767,NaN
1241,AUS,SAVING,TOT,PC_GDP,A,1989,7.687440,NaN
1242,AUS,SAVING,TOT,PC_GDP,A,1990,3.734530,NaN
1243,AUS,SAVING,TOT,PC_GDP,A,1991,0.993805,NaN
1244,AUS,SAVING,TOT,PC_GDP,A,1992,2.846125,NaN
1245,AUS,SAVING,TOT,PC_GDP,A,1993,4.346810,NaN
1246,AUS,SAVING,TOT,PC_GDP,A,1994,3.604576,NaN
1247,AUS,SAVING,TOT,PC_GDP,A,1995,4.336632,NaN
1248,AUS,SAVING,TOT,PC_GDP,A,1996,5.733141,NaN
1249,AUS,SAVING,TOT,PC_GDP,A,1997,5.296158,NaN
1250,AUS,SAVING,TOT,PC_GDP,A,1998,4.162345,NaN
1251,AUS,SAVING,TOT,PC_GDP,A,1999,4.841157,NaN
1252,AUS,SAVING,TOT,PC_GDP,A,2000,3.908633,NaN
1253,AUS,SAVING,TOT,PC_GDP,A,2001,5.170472,NaN
1254,AUS,SAVING,TOT,PC_GDP,A,2002,4.611407,NaN
1255,AUS,SAVING,TOT,PC_GDP,A,2003,5.413050,NaN
1256,AUS,SAVING,TOT,PC_GDP,A,2004,4.605181,NaN
1257,AUS,SAVING,TOT,PC_GDP,A,2005,5.285867,NaN
1258,AUS,SAVING,TOT,PC_GDP,A,2006,4.986287,NaN
1259,AUS,SAVING,TOT,PC_GDP,A,2007,5.671076,NaN
1260,AUS,SAVING,TOT,PC_GDP,A,2008,7.644383,NaN
1261,AUS,SAVING,TOT,PC_GDP,A,2009,5.234108,NaN
1262,AUS,SAVING,TOT,PC_GDP,A,2010,7.265403,NaN
1263,AUS,SAVING,TOT,PC_GDP,A,2011,8.508645,NaN
1264,AUS,SAVING,TOT,PC_GDP,A,2012,7.571069,NaN
1265,AUS,SAVING,TOT,PC_GDP,A,2013,6.861393,NaN
1266,AUS,SAVING,TOT,PC_GDP,A,2014,4.911388,NaN
1267,AUS,SAVING,TOT,PC_GDP,A,2015,2.497491,NaN
1268,AUS,SAVING,TOT,PC_GDP,A,2016,4.164464,NaN
1269,AUS,SAVING,TOT,PC_GDP,A,2017,4.183031,NaN
1270,AUS,SAVING,TOT,PC_GDP,A,2018,5.238132,NaN
1271,AUS,SAVING,TOT,PC_GDP,A,2019,6.425977,NaN
1272,AUS,SAVING,TOT,PC_GDP,A,2020,8.466190,NaN

In [29]:
COL = ['TIME', 'saving_rate(% of GDP)']
final = gdp.merge(saving_rate[COL], left_on=['year'], right_on=['TIME']).drop(columns=['index', 'TIME'])
final = final[["year", "gdp(USD Millioins)", "saving_rate(% of GDP)"]]
final

    year  gdp(USD Millioins)  saving_rate(% of GDP)
0   1970               36910              13.965180
1   1971               40379              13.867941
2   1972               44556              14.922438
3   1973               49831              15.803160
4   1974               60374              12.301303
5   1975               71277              10.800341
6   1976               83377               9.912091
7   1977               96236               7.450473
8   1978              105094               9.405753
9   1979              118789              10.342062
10  1980              134654              10.282790
11  1981              152410               8.796762
12  1982              175917               5.169911
13  1983              189481               7.637791
14  1984              213766               8.559389
15  1985              235414               6.457267
16  1986              260714               5.345850
17  1987              286222               7.962422
18  1988              324449               9.031767
19  1989              368145               7.687440
20  1990              404569               3.734530
21  1991              415233               0.993805
22  1992              423222               2.846125
23  1993              444218               4.346810
24  1994              466618               3.604576
25  1995              495509               4.336632
26  1996              528636               5.733141
27  1997              556257               5.296158
28  1998              588842               4.162345
29  1999              620924               4.841157
30  2000              661722               3.908633
31  2001              706385               5.170472
32  2002              755579               4.611407
33  2003              802510               5.413050
34  2004              863395               4.605181
35  2005              924589               5.285867
36  2006              998436               4.986287
37  2007             1087683               5.671076
38  2008             1178577               7.644383
39  2009             1260468               5.234108
40  2010             1302858               7.265403
41  2011             1417898               8.508645
42  2012             1499804               7.571069
43  2013             1536454               6.861393
44  2014             1598553               4.911388
45  2015             1623207               2.497491
46  2016             1657744               4.164464
47  2017             1759314               4.183031
48  2018             1842946               5.238132
49  2019             1946228               6.425977
50  2020             1980866               8.466190

In [30]:
final.to_csv('../../data/curated/gdp_with_saving_rate.csv')