In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../../data/curated/features_of_interst/addtional_place_all_with_sa2.csv')
df2 = pd.read_csv('../../data/curated/features_of_interst/place_all_with_sa2.csv')

In [3]:
df1.head()

,Unnamed: 0,Place_Names,latitude,longitude,year,place_type,SA2_CODE
0,0,GLADSTONE PARK SHOPPING CENTRE,-37.68802,144.88478,2015,shopping,210051245
1,1,WHITEHORSE PLAZA SHOPPING CENTRE,-37.81804,145.11973,2015,shopping,207031163
2,2,SOUTHLAND SHOPPING CENTRE,-37.96138,145.05445,2015,shopping,208031188
3,3,WANTIRNA MALL SHOPPING CENTRE,-37.84693,145.22945,2015,shopping,211011259
4,4,WARREN VILLAGE,-37.99332,145.09278,2015,shopping,208031193

In [4]:
df2.head()

,Unnamed: 0,Place_Names,latitude,longitude,year,place_type,SA2_CODE
0,0,TAHARA BRIDGE RESERVE PICNIC AREA,-37.66568,141.66459,2013,park,217011420
1,1,CULGOA RECREATION RESERVE,-35.71682,143.10101,2013,park,215031400
2,2,CUMBERLAND,-38.57263,143.94681,2013,park,203031049
3,3,WAREENA PARK,-36.35911,146.30977,2013,park,204021066
4,4,ENTERPRIZE PARK,-37.82000,144.95973,2013,park,206041505

In [6]:
df = pd.concat([df1,df2])

In [10]:
df = df.drop(columns ='Unnamed: 0')

In [12]:
df.to_csv('../../data/curated/features_of_interst/result_place_all_with_sa2.csv')

In [ ]:
import os
os.remove('../../data/curated/features_of_interst/addtional_place_all_with_sa2.csv')
os.remove('../../data/curated/features_of_interst/place_all_with_sa2.csv')