In [701]:
import pandas as pd
import glob
import os
import numpy as np

path = r'../data/curated/merged_dataset/' # use your path
all_files = glob.glob(os.path.join(path , "*.csv"))

li = []

for filename in sorted(all_files):
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

merged_df = pd.concat(li, axis=0, ignore_index=True)
# log candidates: income_per_person, population_density, crime_cases, weekly_rent
# log candidates: min_distance_to_cbd	min_distance_to_park	min_distance_to_prim	min_distance_to_second	min_distance_to_train	min_distance_to_hosp	min_distance_to_poli	min_distance_to_shop
merged_df['income_per_person'] = np.log(merged_df['income_per_person'])
# merged_df['population_density'] = np.log(merged_df['population_density'])
merged_df['crime_cases'] = np.log(merged_df['crime_cases'])
merged_df['min_distance_to_cbd'] = np.log(merged_df['min_distance_to_cbd'])
merged_df['min_distance_to_park'] = np.log(merged_df['min_distance_to_park'])
merged_df['min_distance_to_prim'] = np.log(merged_df['min_distance_to_prim'])
merged_df['min_distance_to_second'] = np.log(merged_df['min_distance_to_second'])
merged_df['min_distance_to_train'] = np.log(merged_df['min_distance_to_train'])
merged_df['min_distance_to_hosp'] = np.log(merged_df['min_distance_to_hosp'])
merged_df['min_distance_to_poli'] = np.log(merged_df['min_distance_to_poli'])
merged_df['min_distance_to_shop'] = np.log(merged_df['min_distance_to_shop'])
merged_df['weekly_rent'] = np.log(merged_df['weekly_rent'])
merged_df.drop(['address', 'latitude', 'longitude', 'postcode', 'sa2_2016'], axis=1, inplace=True)

In [702]:
# df = merged_df.fillna(300)
# Example of solo SA2 instance
df = merged_df.dropna()
df.loc[df['sa2_2021']==206061516]

,year,sa2_2021,residence_type,nbed,nbath,ncar,min_distance_to_cbd,min_distance_to_park,min_distance_to_prim,min_distance_to_second,min_distance_to_train,min_distance_to_hosp,min_distance_to_poli,min_distance_to_shop,weekly_rent,gdp(USD Millioins),saving_rate(% of GDP),income_per_person,population_density,crime_cases
132662,2022,206061516,Apartment,3.0,1.0,1,1.90578,-0.032286,0.359547,4.742932,-0.509227,4.945698,4.308865,2.613681,6.39693,3305754,12.839,11.511549,7698.0,6.660575

In [703]:
#df.iloc[132647:]
# drop the SA2 only has one instance
# lost 3 instances
df = df[df.duplicated(subset=["sa2_2021"], keep=False)]
df = df.drop(columns=['gdp(USD Millioins)'])
df = df.dropna()
df

,year,sa2_2021,residence_type,nbed,nbath,ncar,min_distance_to_cbd,min_distance_to_park,min_distance_to_prim,min_distance_to_second,min_distance_to_train,min_distance_to_hosp,min_distance_to_poli,min_distance_to_shop,weekly_rent,saving_rate(% of GDP),income_per_person,population_density,crime_cases
0,2013,204011057,House,2.0,1.0,0,5.429221,3.142442,1.995716,2.831157,3.571453,3.061063,3.093158,2.235600,5.703782,6.861393,10.588692,2.172408,4.454347
1,2013,205051101,House,2.0,1.0,0,5.410131,1.743518,1.872626,1.912197,2.020693,2.005488,1.837652,2.235600,5.370638,6.861393,10.762630,5.425503,3.583519
2,2013,204011057,House,2.0,1.0,0,5.494118,1.631634,-1.608089,3.603350,3.928947,3.601015,-2.467696,2.235600,5.164786,6.861393,10.588692,2.172408,4.454347
3,2013,202011022,House,4.0,2.0,0,4.944198,4.360868,2.366989,2.478133,2.422061,5.178674,4.436437,2.235600,5.857933,6.861393,10.681809,473.765281,7.160846
4,2013,208041195,Apartment,1.0,1.0,0,2.629104,-0.069886,0.284660,1.250400,0.792087,5.178674,4.436437,1.377508,5.616771,6.861393,11.363304,2834.210526,7.561642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172030,2022,205021086,House,3.0,1.0,1,5.681130,-0.579604,0.197284,4.742932,4.500764,4.945698,4.308865,2.613681,5.579730,12.839000,10.903481,402.000000,5.638355
172031,2022,217041479,House,3.0,2.0,2,5.554087,1.250151,1.626702,1.282516,2.124875,0.956711,4.308865,2.613681,6.214608,12.839000,11.015813,689.000000,8.022569
172032,2022,208021177,House,2.0,2.0,1,2.248210,0.896133,0.292155,0.484412,1.290034,4.945698,4.308865,0.681257,6.620073,12.839000,11.500412,3656.000000,6.632002
172033,2022,206041506,Apartment,1.0,1.0,1,0.614823,-0.427726,0.099284,0.246391,0.630420,4.945698,4.308865,2.613681,6.013715,12.839000,11.174728,5791.000000,7.488853
172034,2022,206071139,Apartment,1.0,1.0,1,1.523065,-0.733095,-0.701421,0.388360,0.256447,4.945698,0.328469,2.613681,5.899897,12.839000,11.278027,3954.000000,7.244942

In [704]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [705]:
TARGET_COLS = ['weekly_rent']
COLS = list(df.columns)
df = df[COLS]
df = pd.get_dummies(df, columns=['residence_type', 'sa2_2021', 'nbed', 'nbath', 'ncar'])

train, test = train_test_split(df, train_size=0.8, random_state=0)

X_train, y_train = train.drop(TARGET_COLS, axis=1), train[TARGET_COLS]
X_test, y_test = test.drop(TARGET_COLS, axis=1), test[TARGET_COLS]

print(f'{len(X_train)} training instances, {len(X_test)} test instances')

137612 training instances, 34403 test instances

In [706]:
from tensorflow import keras
import tensorflow as tf
from tensorflow.keras.layers import Dense, Normalization

In [707]:
# Setup a normalization layer and adapt it to the training set so that it knows
# what mean and sd to use when normalising
norm_layer = Normalization()
norm_layer.adapt(X_train)

In [708]:
model = keras.Sequential(
    [   
        norm_layer,                   # our normalisation layer recieves the input
        Dense(600, activation='relu'),  # the hidden layer gets the normalised result
        Dense(300, activation='relu'),  # (in case you want to try an extra hidden layer)
        Dense(60, activation='relu'),
        # Dense(1, activation='relu')   # and the output layer has a single node which will estimate total_amount
        # Dense(2, activation='softmax')
        # Dense(1, activation='sigmoid')
        Dense(1, activation='relu')
    ]
)

In [709]:
model.compile(
    optimizer='adam',  # Adam optimises using gradient descent, is generally fast and a good choice in many cases
    loss='MSE' # 'sparse_categorical_crossentropy'#'MSE'  # Mean Squared Error makes sense for this problem, 
                # though we could use Mean Absolute Error, or many other choices.
                # Classification outputs would use a different loss (eg. BinaryCrossentropy)
)
# base_learning_rate = 0.0001
# model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True), optimizer=tf.keras.optimizers.Adam(lr=base_learning_rate), metrics=['acc'])

In [710]:
history = model.fit(
    x=X_train,
    y=y_train,
    batch_size=16,
    validation_split=0.25,
    epochs=10
)

Epoch 1/10
6451/6451 [==============================] - 14s 2ms/step - loss: 0.2070 - val_loss: 0.1327
Epoch 2/10
6451/6451 [==============================] - 13s 2ms/step - loss: 0.0876 - val_loss: 0.0781
Epoch 3/10
6451/6451 [==============================] - 12s 2ms/step - loss: 0.0749 - val_loss: 0.0973
Epoch 4/10
6451/6451 [==============================] - 12s 2ms/step - loss: 0.0644 - val_loss: 0.1497
Epoch 5/10
6451/6451 [==============================] - 13s 2ms/step - loss: 0.0595 - val_loss: 0.0591
Epoch 6/10
6451/6451 [==============================] - 12s 2ms/step - loss: 0.0555 - val_loss: 0.0958
Epoch 7/10
6451/6451 [==============================] - 12s 2ms/step - loss: 0.0535 - val_loss: 0.1200
Epoch 8/10
6451/6451 [==============================] - 12s 2ms/step - loss: 0.0523 - val_loss: 0.0656
Epoch 9/10
6451/6451 [==============================] - 11s 2ms/step - loss: 0.0508 - val_loss: 0.0973
Epoch 10/10
6451/6451 [==============================] - 12s 2ms/step - loss: 0.0493 - val_loss: 0.1091

In [711]:
comparison = y_test.iloc[:100].copy()
comparison.loc[:, 'prediction'] = model.predict(X_test.head(100))
comparison

4/4 [==============================] - 0s 1ms/step

        weekly_rent  prediction
89826      5.703782    6.180067
34773      5.752573    5.709983
147964     5.652489    6.034876
121458     6.016157    6.005707
7741       5.991465    5.857211
...             ...         ...
155773     6.131226    6.170924
44590      5.480639    5.494805
169783     5.991465    5.926311
26312      5.752573    5.810125
43320      5.075174    4.883321

[100 rows x 2 columns]

In [712]:
model.evaluate(
    x=X_test.iloc[:100],
    y=y_test.iloc[:100],
    batch_size=16,
)

7/7 [==============================] - 0s 812us/step - loss: 0.0334

0.033362701535224915

In [713]:

predictions = model.predict(X_test.iloc[:])
errors = np.array(predictions - y_test.iloc[:])
squared_errors = errors**2
mean_squared_error = squared_errors.mean()

print(f'MSE: {mean_squared_error}')

1076/1076 [==============================] - 1s 745us/step
MSE: 0.05346261427985182

In [714]:
tot_sum_squares = (np.array(y_test - y_test.mean())**2).sum()
r2 = 1 - (squared_errors.sum() / tot_sum_squares)
print(f'Model R^2: {r2:.4f}')

Model R^2: 0.6390